<h1><%= t('.header') %></h1>

<div class="row">
  <div class="col-md-6">
    <%= render "form" %>
    <div class="buffer-top">
      <%= link_to t('.update_password'), edit_user_registration_path %>
    </div>
  </div>
</div>
